<h1>Battle!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="Name1">
    Player 1 name
    <input type="text" name="Name1">
  </label>
  <label for="Name2">
    Player 2 name
    <input type="text" name="Name2">
  </label>
  <input type="submit" value="submit">
</form>
