Player 1 is <%= @game.name_of(@game.player1) %>. Player 2 is <%= @game.name_of(@game.player2) %>.
<%= @game.name_of(@game.player2)  %>'s: <%= @game.player2.hp %>HP
<form action="/attack">
  <input type="submit" value="attack">
</form>
